* {
    box-sizing: border-box;
}

body {
    color: #FFFFFF;
    margin: 0;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/*首图*/
.top {
    height: 620px;
    background-image: url(images/TheForbiddenCity.jpg);
    background-size: cover;
    text-align: center;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px;
    font-size: 18px;
}

nav * {
    padding: 0 30px;
}

.lang * {
    padding: 0 10px;
}

.cn :hover {
    color: #CF0921;
}

.en :hover {
    color: #000;
}

.fr :hover {
    color: #193764;
}

h1 {
    padding-top: 84px;
}

/*介绍旅游导览*/
.travel {
    height: 620px;
}



.swiper {
    width: 900px;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination,
.swiper-button-prev,
.swiper-button-next {
    --swiper-theme-color: #ffffff;
}